@using ClubFitnessSolution.Services
@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject NotificationService NotificationService
@inject ChatService ChatService

@* <RadzenTheme Theme="material" @rendermode="InteractiveServer" /> *@
@* <RadzenDialog @rendermode="@RenderMode.InteractiveServer"/> *@
<RadzenComponents @rendermode="@RenderMode.InteractiveServer" />
<div class="page">
    @if (!IsHideSidebar())
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    // Method to check if the sidebar should be hidden
    private bool IsHideSidebar()
    {
    // Get the current URL
        var currentUrl = Navigation.Uri;

    // Add any URLs where you want to hide the sidebar
        return currentUrl.Contains("/pos") || currentUrl.Contains("/another-url-to-hide-sidebar");
    }

    protected override async Task OnInitializedAsync()
    {
        await ChatService.StartConnection(); // Start the SignalR connection
    }
}