<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClubFitnessDB" connectionString="Server=RICZEPHYRUS\PRJ2022;Database=ClubFitnessDB;User Id=sa;Password=Pa$$w0rd;MultipleActiveResultSets=True;TrustServerCertificate=True;App=EntityFramework;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>