@page "/"


@rendermode RenderMode.InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world! @name</h1>

Welcome to your new app.


@code
{
    string name = string.Empty;

    protected override async Task OnInitializedAsync()
    {
    }

    
}
