@using ClubFitnessDomain

@code {
    [Parameter]
    public IEnumerable<AccountProductSubCategory> SubCategories { get; set; }

    [Parameter]
    public EventCallback<AccountProductSubCategory> OnSubCategorySelected { get; set; }

}


<div class="d-flex flex-row">
    @foreach (var item in SubCategories)
    {
        <div class="pos-tile"
             @onclick="() => OnSubCategorySelected.InvokeAsync(item)"
             style="background-image: url('@(string.IsNullOrEmpty(item.DisplayImagePath) ? "/uploads/no-image.png" : $"/uploads/SubCategories/{item.DisplayImagePath}")');">
            <div class="pos-item-name">@item.ProductSubCategoryName</div>
        </div>
    }
</div>

