@using ClubFitnessDomain

@code {
    [Parameter]
    public IEnumerable<AccountProduct> Products { get; set; }

    [Parameter]
    public EventCallback<AccountProduct> OnProductSelected { get; set; }
    
}

<div class="pos-grid">
    @foreach (var item in Products)
    {
        <div class="pos-tile"
             @onclick="() => OnProductSelected.InvokeAsync(item)"
             style="background-image: url('@(string.IsNullOrEmpty(item.DisplayImagePath) ? "/uploads/no-image.png" : $"/uploads/Products/{item.DisplayImagePath}")');">
            <div class="pos-item-name">@item.ProductName</div>
        </div>
    }
</div>