<div class="card p-1 shadow mt-5">
    <div class="d-flex align-items-center m-4">
    <i class="spinner-border text-success me-4" role="status"></i>
    <span class="font-weight-light fs-4">Loading, please wait...</span>
    </div>
</div>
